{% extends 'main.html' %}
{% block content %}
<p class="error">{{error}}</p>
<p class="error">{{success}}</p>
<p class="error">{{score}}</p>
<br>
<p class="center">{{text}}</p>
<div class="content-section">
    <h3 style="text-align: center;">Book An Appointment</h3>
    <form action="{{ url_for('book_appointment') }}" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
    
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>
    
        <label for="time">Time:</label>
        <input type="time" id="time" name="time" required>
    
        <label for="message">Reason for visit:</label>
        <textarea  type="text" id="message" name="message" required></textarea>
    
        <input type="submit" value="Book Appointment">
    </form>
    
</div>
{% endblock content %}
    