{% extends 'main.html' %}
{% block content %}
<p class="error">{{success}}</p>

<p class="error">{{score}}</p>

<div class="chat-container">
    <div class="chat-header">
      <h2>How can I help you today?</h2>
    </div>
    <div class="chat-body" id="chat-body">
      {% for message in messages %}
      <div class="message-item {% if message.bot_response %}bot-message{% else %}user-message{% endif %}">
        <div class="message-text">{{ message.user_input or message.bot_response }}</div>
      </div>
      {% endfor %}
    </div>
    <div class="chat-footer">
      <form id="chat-form">
        <input type="text" id="user-input" placeholder="Type your message...">
        <button type="submit" id="send-btn">Send</button>
      </form>
    </div>
    <p>
      <br>
      <br>
      Studies show that post-natal depression (PND) affects
      at least 10 percent of women and that many depressed
      mothers do not get proper treatment.
      <br>
      <br>
      At Momma we developed a Postnatal Depression to assist mothers detect signs and symptoms of PND.
      <br>
      <br>
      The scale consists of 10 short statements. A mother
      checks off one of four possible answers that is closest to
      how she has felt during the past week. Most mothers
      easily complete the scale in less than five minutes.
  </p>
  <div class="center">
      <a href="{{url_for('take_test')}}">
          <button class="logout-button logout-button:hover">Take a test</button>
      </a>
  </div>
  </div>

 

  <script type="text/javascript">
    const chatBody = document.getElementById("chat-body");
    const chatForm = document.getElementById("chat-form");
    const userInput = document.getElementById("user-input");

    chatForm.addEventListener("submit", (event) => {
      event.preventDefault();
      const message = userInput.value;
      sendMessage(message);
      userInput.value = "";
    });

    function scrollToBottom() {
      chatBody.scrollTop = chatBody.scrollHeight;
    }

    function appendBotMessage(message) {
      const messageItem = document.createElement("div");
      messageItem.classList.add("message-item", "bot-message");
      messageItem.innerHTML = `
        <div class="message-text">${message}</div>
      `;
      chatBody.appendChild(messageItem);
      scrollToBottom();
    }

    function sendMessage(message) {
      // create a message item to display user input
      const userMessageItem = document.createElement("div");
      userMessageItem.classList.add("message-item", "user-message");
      userMessageItem.innerHTML = `
        <div class="message-text">${message}</div>
      `;
      chatBody.appendChild(userMessageItem);

      fetch("/chat", {
        method: "POST",
        headers: {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        body: `user_input=${message}`
      })
        .then((response) => response.json())
        .then((data) => {
          appendBotMessage(data[0].text);
        })
        .catch((error) => {
          console.error(error);
        });
    }
  </script>


{% endblock content %}