{% extends 'main2.html' %}
{% block content %}
<p class="error">{{success}}</p>
<div class="content-section">
    <form action="{{ url_for('doctor_login') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <input type="submit" value="Login">
    </form>
    <small class="text-muted center">
        Need An Account? <a class="ml-2" href="{{ url_for('doctor_register') }}">Sign Up Now</a>
    </small>
    <small class="text-muted center">
        Not a Doctor? <a class="ml-2" href="{{ url_for('log_in') }}">Sign In</a>
    </small>

</div>

{% endblock content %}