{% extends 'main.html' %}
{% block content %}
<p class="error">{{success}}</p>
<p class="error">{{error}}</p>
<p>
    <br>
    <br>
    Studies show that post-natal depression (PND) affects
    at least 10 percent of women and that many depressed
    mothers do not get proper treatment. These mothers
    might cope with their baby and with household tasks, but
    their enjoyment of life is seriously affected, and it is
    possible that there are long term effects on the family.
    <br>
    <br>
    At Momma we developed a Postnatal Depression to assist mothers detect signs and symptoms of PND.
    <br>
    <br>
    The scale consists of 10 short statements. A mother
    checks off one of four possible answers that is closest to
    how she has felt during the past week. Most mothers
    easily complete the scale in less than five minutes.
</p>
<div class="center">
    <a href="{{url_for('take_test')}}">
        <button class="logout-button logout-button:hover">Take a test</button>
    </a>
</div>
{% endblock content %}