{% extends 'main.html' %}
{% block content %}
<p class="error">{{success}}</p>
<div class="essay">
    <h1>Pregnancy Education</h1>
    <br>
    <img src="{{url_for('static', filename='images/home1.png')}}" class="center" width="200px" height="500px" alt="">
    <br>
    <p>
        Pregnancy education is a type of education that provides expecting parents with information and resources about pregnancy, childbirth, and parenting. It can take many forms, such as classes, workshops, online resources, books, and support groups. Pregnancy education programs are typically designed to help parents understand the physical, emotional, and psychological changes that occur during pregnancy and childbirth, as well as the needs of their growing baby.

    <h3>common topics covered in pregnancy education include:</h3>
    <p>
        -Nutrition and exercise during pregnancy
        -Prenatal care and medical procedures
        -Changes to expect in the body during pregnancy
        -Preparation for labor and delivery
        -Pain management during labor
        -Postpartum recovery and breastfeeding
        -Childbirth education, including information on natural birth and cesarean delivery
        -Newborn care and parenting skills
        -Emotional and psychological changes during pregnancy
        -Preparing for the role of parenthood
    </p>
    <br>
    <img class="center" src="{{url_for('static', filename='images/medical.jpg')}}" alt="">
    <br>
    <p>
        Pregnancy education can be provided by healthcare providers, hospitals, birthing centers, community organizations, and online resources. Parents can also opt for a variety of classes such as a prenatal yoga, childbirth education, and breastfeeding education to gain the knowledge they need. Pregnancy education is important because it provides expecting parents with the knowledge and tools they need to have a healthy pregnancy and give their child the best start in life.
    </p>

    <h1>Why Pregnancy Education is Important</h1>
    <br>
    <p>
        Pregnancy education is important because it provides expecting parents with the knowledge and tools they need to have a healthy pregnancy and give their child the best start in life.
    </p>
    <img class="center" src="{{url_for('static', filename='images/question.jpg')}}" alt="">

    <p>
        Through education, parents can learn about the changes their bodies will go through, how to care for themselves and their growing baby, and what to expect during labor and delivery. They can also learn about important topics such as nutrition, exercise, and prenatal care. Pregnancy education also helps to prepare parents for the emotional and psychological changes that come with having a child. With the right education, parents can make informed decisions and feel more confident and prepared for the journey ahead. Overall, pregnancy education empowers parents to make the best choices for themselves and their baby, and to have a positive and healthy pregnancy experience.
    </p>
</div>
{% endblock content %}