{% extends 'main.html' %}
{% block content %}
<p class="error">{{success}}</p>
<p>Depression is a serious mental health condition that affects millions of people worldwide. It is characterized by feelings of sadness, hopelessness, and loss of interest in activities that were once enjoyable. Depression can be caused by various factors, including genetics, life events, and chemical imbalances in the brain. It is crucial to recognize the signs of depression and seek treatment promptly to prevent the condition from worsening.
    One way to recognize the signs of depression is by taking a depression test calculator. These tools are designed to assess the severity of symptoms and determine whether an individual is at risk of depression. A depression test calculator typically includes questions about the frequency and intensity of symptoms, such as feelings of sadness, loss of interest, and changes in appetite or sleep patterns. The results can provide valuable information about whether an individual should seek professional help.
</p>
<div class="center">
    <a href="{{url_for('take_test')}}">
        <button class="logout-button logout-button:hover">Take a test</button>
    </a>
</div>
{% endblock content %}