{% extends 'main.html' %}
{% block content %}
<div class="content-section form">
    <form action="{{ url_for('login') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <input type="submit" value="Login">
    </form>
    
    <small class="text-muted ml-2">
        <a href="#">Forgot Password?</a>
    </small>
</div>
<div class="border-top pt-3">
    <small class="text-muted">
        Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
    </small>
</div>
{% endblock content %}
    