{% extends 'main.html' %}
{% block content %}
<p class="error">{{error}}!</p>
<div class="content-section form">
    <form action="{{ url_for('register') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <label for="password">Password:</label>
        <input type="password" name="password" required>
        <input type="submit" value="Signup">
    </form>    
    <small class="text-muted">
        Already Have An Account? <a class="ml-2" href="{{ url_for('log_in') }}">Sign In</a>
    </small>
</div>
{% endblock content %}
    