{% extends 'main.html' %}
{% block content %}

<div class = "content-section">
    <form>        
        <h3>1. I have been able to laugh and see the funny side of things:</h3>
        <label>
          <input type="radio" name="laugh" value="1"> As much as I always could
        </label><br>
        <label>
          <input type="radio" name="laugh" value="2"> Not quite so much now
        </label><br>
        <label>
          <input type="radio" name="laugh" value="3"> Definitely not so much now
        </label><br>
        <label>
          <input type="radio" name="laugh" value="4"> Not at all
        </label><br>
      
        <h3>2. I have looked forward with enjoyment to things:</h3>
        <label>
          <input type="radio" name="enjoyment" value="1"> As much as I ever did
        </label><br>
        <label>
          <input type="radio" name="enjoyment" value="2"> Rather less than I used to
        </label><br>
        <label>
          <input type="radio" name="enjoyment" value="3"> Definitely less than I used to
        </label><br>
        <label>
          <input type="radio" name="enjoyment" value="4"> Hardly at all
        </label><br>
      
        <h3>3. I have blamed myself unnecessarily when things went wrong:</h3>
        <label>
          <input type="radio" name="blamed" value="1"> Yes, most of the time
        </label><br>
        <label>
          <input type="radio" name="blamed" value="2"> Yes, some of the time
        </label><br>
        <label>
          <input type="radio" name="blamed" value="3"> Not very often
        </label><br>
        <label>
          <input type="radio" name="blamed" value="4"> No, never
        </label><br>
      
        <h3>4. I have been anxious or worried for no good reason:</h3>
        <label>
          <input type="radio" name="anxious" value="1"> No, not at all
        </label><br>
        <label>
          <input type="radio" name="anxious" value="2"> Hardly ever
        </label><br>
        <label>
          <input type="radio" name="anxious" value="3"> Yes, sometimes
        </label><br>
        <label>
          <input type="radio" name="anxious" value="4"> Yes, very often
        </label><br>
      
        <h3>5. I have felt scared or panicky for no very good reason:</h3>
        <label>
          <input type="radio" name="scared" value="1"> Yes, quite a lot
        </label><br>
        <label>
          <input type="radio" name="scared" value="2"> Yes, sometimes
        </label><br>
        <label>
          <input type="radio" name="scared" value="3"> No, not much
        </label><br>
        <label>
            <input type="radio" name="scared" value="4">No, not at all
        </label><br>

        <h3>6. Things have been getting on top of me</h3>
        <label>
            <input type="radio" name="Too much" value="1"> Yes, most of the time I haven't been able to cope at all
        </label><br>
        <label>
            <input type="radio" name="Too much" value="2"> Yes, sometimes I haven't been coping as well as usual
        </label><br>
        <label>
            <input type="radio" name="Too much" value="3"> No, most of the time I have coped quite well
        </label><br>
        <label>
            <input type="radio" name="Too much" value="4">No, I have been coping as well as ever
        </label><br>

        <h3>7. I have been so unhappy that I have had difficulty sleeping:</h3>
        <label>
            <input type="radio" name="scared" value="1"> Yes, most of the time
        </label><br>
        <label>
            <input type="radio" name="scared" value="2"> Yes, sometimes
        </label><br>
        <label>
            <input type="radio" name="scared" value="3"> Not very often
        </label><br>
        <label>
            <input type="radio" name="scared" value="4">No, not at all
        </label><br>

        <h3>8. I have felt sad or miserable:</h3>
        <label>
            <input type="radio" name="scared" value="1"> Yes, most of the time
        </label><br>
        <label>
            <input type="radio" name="scared" value="2"> Yes, quite often
        </label><br>
        <label>
            <input type="radio" name="scared" value="3"> Not very often
        </label><br>
        <label>
            <input type="radio" name="scared" value="4">No, not at all
        </label><br>

        <h3>9. I have been so unhappy that I have been crying:</h3>
        <label>
            <input type="radio" name="scared" value="1"> Yes, most of the time
        </label><br>
        <label>
            <input type="radio" name="scared" value="2"> Yes, quite often
        </label><br>
        <label>
            <input type="radio" name="scared" value="3"> Only occasionally
        </label><br>
        <label>
            <input type="radio" name="scared" value="4">No, never
        </label><br>

        <h3>10. The thought of harming myself has occurred to me:</h3>
        <label>
            <input type="radio" name="scared" value="1"> Yes, quite often
        </label><br>
        <label>
            <input type="radio" name="scared" value="2"> Sometimes
        </label><br>
        <label>
            <input type="radio" name="scared" value="3"> Hardly ever
        </label><br>
        <label>
            <input type="radio" name="scared" value="4"> Never
        </label><br>    
    </form>
      


</div>


{% endblock content %}