{% extends 'main.html'%}
{% block content%}
<h1 style="text-align: center;">doctors</h1>
<br>
<div>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>username</th>
                <th>email</th>
                <th>specialization</th>
            </tr>
        </thead>
        <tbody>
            {% for doctor in doctors %}
            <tr>
                <td>{{ doctor.id }}</td>
                <td>{{ doctor.name }}</td>
                <td>{{ doctor.email }}</td>
                <td>{{ doctor.specialization }}</td>
                <td>{{ doctor.password }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <h1 style="text-align: center;">Timeslots</h1>
    <br>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>doctor_id</th>
                <th>start_time</th>
                <th>end_time</th>
                <th>is_booked</th>
            </tr>
        </thead>
        <tbody>
            {%for timeslot in timeslots %}
            <tr>
                <td>{{ timeslot.id }}</td>
                <td>{{ timeslot.doctor_id }}</td>
                <td>{{ timeslot.start_time }}</td>
                <td>{{ timeslot.end_time }}</td>
                <td>{{ timeslot.is_booked }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>
{% endblock %}