{% extends 'main.html' %}
{% block content %}

<form name="form2" action="{{ url_for('book_appointment') }}" method="POST">

    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required>

    <label for="timeslot">Desired Timeslot:</label>
    <select name="timeslot" id="timeslot">
        <!-- Loop through available time slots and populate the dropdown options -->
        {% for timeslot in timeslots %}
            <option value="{{ timeslot.id }}">{{ timeslot.start_time }} - {{ timeslot.end_time }}</option>
        {% endfor %}
    </select>
    <br>
    <input type="submit" value="Book Appointment">

</form>



{% endblock content %}