{% extends 'main.html'%}
{% block content%}
<p class="error">{{success}}</p>
<h1 style="text-align: center;">Your Appointments</h1>
<div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Message</th>
                <th>Doctor</th>
                <th>Start Datet&Time</th>
                <th>End Datet&Time</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in user.appointments %}
            <tr>
                <td>{{ appointment.name }}</td>
                <td>{{ appointment.message }}</td>
                <td>{{ appointment.doctor.name }} - {{ appointment.doctor.specialization }}</td>
                <td>{{ appointment.timeslot.start_time }}</td>
                <td>{{ appointment.timeslot.end_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>
{%endblock%}