{% extends 'main.html' %}
{% block content %}
    <h1>Book Appointments</h1>
    <h4> Appointment Form </h4>
    <form class="modal-content">
    <div class="container">
        <label>Email Address: </label>
        <input type="email" placeholder="Enter EmailAddress" name="email address" required>
        <label>Phone number : </label>
        <input type="phone" placeholder="Phone Number" id="phone" required>
        <label>Note to the doctor : </label>
        <input type="results" placeholder="Note" id="results" required />
        <label>Date: </label>
        <input type="date" placeholder="Appointment date" id="date" required />
        <button type="submit" onClick="alert('Thank you !. A health care provider will contact you through our email');">Book Appointment</button>
    </div>
    </form>

    
   <a href="/view">View appointments</a>
   <a href="/">Home</a>
   <a href="/profile">view profile</a>

</body>
</html>
{% endblock content %}
    