<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
</head>
<body>
    <center>
        <h1>Book Appointments</h1>
        <h4> Appointment Form </h4>
        <form class="modal-content">
        <div class="container">
            <label>Email Address: </label>
            <input type="email" placeholder="Enter EmailAddress" name="email address" required>
            <br>
            <br>
             <label>Phone number : </label>
            <input type="phone" placeholder="Phone Number" id="phone" required>
            <br>
            <br>
             <label>Note to the doctor : </label>
             <input type="results" placeholder="Note" id="results" required />
             <br>
             <br>
             <label>Date: </label>
             <input type="date" placeholder="Appointment date" id="date" required />
             <br>
             <br>
             <button type="submit" onClick="alert('Thank you !. A health care provider will contact you through our email');">Book Appointment</button>
        </div>
        </form>

        <br>


       <a href="/view">View appointments</a>
    </center>

</body>
</html>